@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #16348C;
  --color-bg: #FFFFFF;
  --color-accent: #FFFAFA;
  --color-snow: #FFFAFA;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
.text-primary {
  color: var(--color-primary) !important;
}
.text-accent {
  color: var(--color-accent) !important;
}
.text-snow {
  color: var(--color-snow) !important;
}

body {
  background-color: var(--color-primary);
  color: #FFFFFF;
  transition: background 0.3s, color 0.3s;
  font-family: 'Times New Roman', Times, serif !important;
}

* {
  font-family: 'Times New Roman', Times, serif !important;
}

.dark body {
  background-color: var(--color-dark-bg);
  color: #f1f5f9; /* gray-100 */
}

.site-title {
  font-family: 'Times New Roman', Times, serif !important;
}
